<div class="flex flex-col h-full bg-[#F4F5FC] text-gray-900 w-64 py-4 px-4 rounded-r-3xl">
    <!-- Profile Section -->
    <div class="bg-white rounded-xl p-4 mb-4">
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <div class="w-10 h-10 rounded-full overflow-hidden mr-3">
            <img src="assets/images/profil.png" alt="Photo de profil" class="w-full h-full object-cover" />
          </div>
          <div>
            <p class="font-bold text-base">Cheikh Gueye</p>
            <p class="text-sm">Manager</p>
          </div>
        </div>
        <button class="text-gray-700">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>
    </div>
  
    <!-- Main Navigation -->
    <nav class="flex-1">
      <ul class="space-y-2">
        <!-- Dashboard -->
        <li>
          <a href="#" class="flex items-center justify-between py-3 px-4 hover:bg-[#FF5C0212]  rounded-lg">
            <div class="flex items-center">
              <!-- <svg class="w-6 h-6 mr-3" viewBox="0 0 24 24" fill="currentColor">
                <path d="M4 4h4v4H4V4zm6 0h4v4h-4V4zm6 0h4v4h-4V4zm-12 6h4v4H4v-4zm6 0h4v4h-4v-4zm6 0h4v4h-4v-4zm-12 6h4v4H4v-4zm6 0h4v4h-4v-4zm6 0h4v4h-4v-4z"/>
              </svg> -->
             <img src="assets/images/dashboard.png"  class="w-[20px] h-[20px] mr-2" srcset="">
              <span class="text-sm">Tableau de bord</span>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
            </svg>
          </a>
        </li>
  
        <!-- Projects Section -->
        <li>
          <div class="bg-[#FF5C0212] rounded-lg">
            <button (click)="toggleProjects()" class="w-full flex items-center justify-between py-3 px-4">
              <div class="flex items-center">
                <!-- <svg class="w-6 h-6 mr-3" viewBox="0 0 24 24" fill="currentColor">
                  <path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-5 14h-2v-2h2v2zm0-4h-2V7h2v6z"/>
                </svg> -->
                <a href="/dashboard/projects" class="flex items-center ">
                <img src="assets/images/notes.png"  class="w-[20px] h-[20px] mr-2" srcset="">
                <span class="text-sm" >Projets</span>
                </a>
              </div>
              <!-- <svg *ngIf="!showProjects" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg> -->
              <!-- <svg *ngIf="showProjects" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd" />
              </svg> -->
            </button>
          </div>
          <!-- Project Submenu -->
          <!-- <div *ngIf="showProjects" class="pl-8 mt-2">
            <p class="text-orange-500 font-medium py-2 text-base">Nos projets</p>
            
            <!-- Timeline items -->
            <!-- <div class="relative">
              <div class="absolute left-1 top-2 bottom-2 w-0.5 bg-gray-300"></div>
              
              <div class="flex items-center py-2">
                <div class="relative z-10 w-2 h-2 rounded-full bg-black mr-4"></div>
                <span class="text-base">Gestion des lots</span>
              </div>
              
              <div class="flex items-center py-2">
                <div class="relative z-10 w-2 h-2 transform rotate-45 bg-black mr-4"></div>
                <span class="text-base">Gestion des sous-traitants</span>
              </div>
              
              <div class="flex items-center py-2">
                <div class="relative z-10 w-2 h-2 rounded-full bg-black mr-4"></div>
                <span class="text-base"> Documents</span>
              </div>
            </div>
          </div> -->
        <!-- </li>  -->
  
        <!-- Stocks -->
        <li>
          <a href="/dashboard/stocks" class="flex items-center py-3 px-4 hover:bg-[#FF5C0212]  rounded-lg">
         <img src="assets/images/stocks.png"  class="w-[20px] h-[20px] mr-2" srcset="">
            <span class="text-sm">Stocks</span>
          </a>
        </li>
  
        <!-- HR -->
        <li>
         
          <a  href="/dashboard/humanresources" class="flex items-center py-3 px-4 hover:bg-[#FF5C0212]  rounded-lg" routerLinkActive="active" >
            <img src="assets/images/resssource.png"  class="w-[20px] h-[20px] mr-2" srcset="">
            <span class="text-sm">Ressources humaines</span>
          </a>
        </li>
  
        <!-- Finance -->
        <li>
          <a href="/dashboard/financial" class="flex items-center py-3 px-4 hover:bg-[#FF5C0212]  rounded-lg">
         <img src="assets/images/finance.svg " alt=""  class="mr-2">
            <span class="text-sm"> Finances</span>
          </a>
        </li>
  
        <!-- Communication -->
        <li>
          <a href="/dashboard/communication" class="flex items-center py-3 px-4 hover:bg-[#FF5C0212]  rounded-lg">
            <img src="assets/images/com.png " alt=""  class="mr-2">
            <span class="text-sm">Communication</span>
          </a>
        </li>
  
        <!-- Settings -->
        <li>
          <a href="/dashboard/settings" class="flex items-center justify-between py-3 px-4 hover:bg-[#FF5C0212]  rounded-lg">
            <div class="flex items-center">
              <svg class="w-6 h-6 mr-3" viewBox="0 0 24 24" fill="currentColor">
                <path d="M19.14 12.94c.04-.3.06-.61.06-.94 0-.32-.02-.64-.07-.94l2.03-1.58c.18-.14.23-.41.12-.61l-1.92-3.32c-.12-.22-.37-.29-.59-.22l-2.39.96c-.5-.38-1.03-.7-1.62-.94l-.36-2.54c-.04-.24-.24-.41-.48-.41h-3.84c-.24 0-.43.17-.47.41l-.36 2.54c-.59.24-1.13.57-1.62.94l-2.39-.96c-.22-.08-.47 0-.59.22l-1.92 3.32c-.12.22-.07.47.12.61l2.03 1.58c-.05.3-.09.63-.09.94s.02.64.07.94l-2.03 1.58c-.18.14-.23.41-.12.61l1.92 3.32c.12.22.37.29.59.22l2.39-.96c.5.38 1.03.7 1.62.94l.36 2.54c.05.24.24.41.48.41h3.84c.24 0 .44-.17.47-.41l.36-2.54c.59-.24 1.13-.56 1.62-.94l2.39.96c.22.08.47 0 .59-.22l1.92-3.32c.12-.22.07-.47-.12-.61l-2.01-1.58zM12 15.6c-1.98 0-3.6-1.62-3.6-3.6s1.62-3.6 3.6-3.6 3.6 1.62 3.6 3.6-1.62 3.6-3.6 3.6z"/>
              </svg>
              <span class="text-sm">Paramètres</span>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
            </svg>
          </a>
        </li>
          <!-- Logout Section -->
        <div class="mt-4">
          <a href="#" class="flex items-center py-3 px-4 hover:bg-[#FF5C0212]  rounded-lg">
            <img src="assets/images/logout.png " alt=""  class="mr-2">
            <span class="text-sm">Se déconnecter</span>
          </a>
        </div>
      
      </ul>
    </nav>
  
  
    
    <!-- Company Logo -->
    <div class="mt-8 flex items-center justify-center p-10">
      <div class="text-black flex items-center">
      <img src="assets/images/logo1.png" alt="" class="w-[30px]">
       <h1 class=" w-[181px] h-[22px]  font-inter font-medium size-[20px] ">Innovchantiers inc .</h1>
      </div>
    </div>
  </div>
  
  <div class="sidebar">
    <ul class="sidebar-menu">
      <li><a routerLink="/dashboard/humanresources" routerLinkActive="active">Ressources Humaines</a></li>
      <li><a routerLink="/dashboard/financial" routerLinkActive="active">Finance</a></li>
      <li><a routerLink="/dashboard/projects" routerLinkActive="active">Projets</a></li>
      <li><a routerLink="/dashboard/communication" routerLinkActive="active">Communication</a></li>
      <li><a routerLink="/dashboard/settings" routerLinkActive="active">Paramètres</a></li>
    </ul>
  </div>
