.btn-supplier{
    width: 260px;
    height: 51px;
    top: 96px;
    left: 929px;
    border-radius: 10px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    gap: 10px;
    font-family: Inter;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    
    
    }
