.filedownload {
width: 184px;
height: 48px;
border-radius: 8px;
gap: 10px;
padding-top: 12px;
padding-right: 14px;
padding-bottom: 12px;
padding-left: 14px;
background-color: red;

}

.fileName {
width: 122px;
height: 18px;
font-family: Inter;
font-weight: 500;
font-size: 15px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;

}